ehforwarderbot
efb-telegram-master
efb-qq-slave
git+https://github.com/milkice233/efb-qq-plugin-mirai#egg=efb-qq-plugin-mirai
git+https://github.com/XYenon/efb-qq-plugin-go-cqhttp#egg=efb-qq-plugin-go-cqhttp
git+https://github.com/xzsk2/efb-filter-middleware#egg=efb-filter-middleware
python-telegram-bot[socks]
