ehforwarderbot
efb-telegram-master
git+https://github.com/milkice233/efb-qq-slave#egg=efb-qq-slave
git+https://github.com/milkice233/efb-qq-plugin-mirai#egg=efb-qq-plugin-mirai
python-telegram-bot[socks]